<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.CapabilityExamMapper">
	<resultMap id="userMap" type="com.spidernet.dashboard.entity.CapabilityExam">
		<id property="examId" column="EXAM_ID" javaType="String" />
		<result property="capabilityId" column="CAPABILITY_ID"
			javaType="String" />
		<association property="capabilityExam"
			javaType="com.spidernet.dashboard.entity.CapabilityExam" />
	</resultMap>

	<sql id="Base_Column_List">
		EXAM_ID AS examId, CAPABILITY_ID AS capabilityId
		capabilityId
	</sql>

	<select id="accountCapabilityExam" parameterType="String"
		resultType="int">
		select count(0) from t_capability_exam where
		CAPABILITY_ID=#{capabilityId}
	</select>

	<select id="capabilityExamStatus" parameterType="String"
		resultType="String">
		select tpe.`STATUS` from t_capability_exam tce, t_personal_exam tpe
		WHERE tce.CAPABILITY_ID=#{capabilityId} and
		tpe.EMPLOYEE_ID=#{employeeId} and tce.EXAM_ID =
		tpe.EXAM_ID
	</select>
</mapper>