<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.spidernet.dashboard.dao.CCapabilityMapper">
	<resultMap id="cCapability" type="com.spidernet.dashboard.entity.CCapability">
		<id property="commCapabilityId" column="COMM_CAPABILITY_ID" javaType="String" />
		<result property="blockId" column="BLOCK_ID" javaType="String" />
		<result property="name" column="NAME" javaType="String" />
		<result property="description" column="DESCRIPTION" javaType="String" />
		<result property="sort" column="SORT" javaType="Int" />
		<result property="url" column="URL" javaType="String" />
		<result property="parentId" column="PARENT_ID" javaType="String" />
		<result property="buList" column="BU_LIST" javaType="String" />
	</resultMap>
	<sql id="Base_Column_List">
		COMM_CAPABILITY_ID AS commCapabilityId, BLOCK_ID AS blockId, NAME AS name, DESCRIPTION AS
		description, SORT AS sort, URL AS url, PARENT_ID AS parentId, BU_LIST AS buList
	</sql>
	<select id="viewCCapability" parameterType="com.spidernet.dashboard.entity.CCapability"
		resultType="com.spidernet.dashboard.entity.CCapability">

		select
		<include refid="Base_Column_List" />
		 from t_common_capability where BLOCK_ID = #{blockId} and (#{buList} in (BU_LIST) or BU_LIST is null)  order by sort
	</select>

	<select id="fetchCommonCapabilty" parameterType="String"
		resultType="com.spidernet.dashboard.entity.CCapability">

		select
		<include refid="Base_Column_List" />
		 from t_common_capability where COMM_CAPABILITY_ID = #{capabilityId}
	</select>

</mapper>