<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.ExamMapper">
	<resultMap id="examMap" type="com.spidernet.dashboard.entity.Exam">
		<id property="examId" column="EXAM_ID" javaType="String" />
		<result property="buId" column="BU_ID" javaType="String" />
		<result property="projectId" column="PROJECT_ID" javaType="String" />
		<result property="name" column="NAME" javaType="String" />
		<result property="startTime" column="START_TIME" javaType="String" />
		<result property="endTime" column="END_TIME" javaType="String" />
		<result property="description" column="DESCRIPTION" javaType="String" />
		<result property="examTime" column="EXAM_TIME" javaType="String" />
		<result property="validPeriod" column="VALID_PERIOD" javaType="int" />
		<result property="status" column="STATUS" javaType="String" />
		<result property="knowledgeList" column="KNOWLEDGE_LIST" javaType="String" />
	</resultMap>

	<select id="fetchAllExam" parameterType="String" resultType="com.spidernet.dashboard.entity.ExamCapability">
		<!-- select e.EXAM_ID as examId, b.NAME as buName, p.NAME as projectName, e.Name as examName, DATE_FORMAT(e.START_TIME,'%Y-%m-%d %H:%i') as startTime,
		DATE_FORMAT(e.END_TIME,'%Y-%m-%d %H:%i') as endTime, e.EXAM_TIME as examTime, e.VALID_PERIOD as validPeriod, e.STATUS
		from t_exam as e, t_bu as b, t_project as p where e.EXAM_ID in (select EXAM_ID FROM
		t_capability_exam where CAPABILITY_ID =
		#{capabilityId}) and e.BU_ID=b.BU_ID and e.PROJECT_ID=p.PROJECT_ID and
		NOW() &lt; e.START_TIME and
		e.EXAM_ID not in (select EXAM_ID FROM t_personal_exam where EMPLOYEE_ID=#{employeeId}); -->
		SELECT e.EXAM_ID AS examId,b. NAME AS buName,p. NAME AS projectName,e. NAME AS examName,DATE_FORMAT(e.START_TIME,'%Y-%m-%d %H:%i') AS startTime,
	    DATE_FORMAT(e.END_TIME,'%Y-%m-%d %H:%i') AS endTime,e.EXAM_TIME AS examTime,e.VALID_PERIOD AS validPeriod,e. STATUS
        FROM t_exam AS e,t_bu AS b,t_project AS p
        WHERE e.EXAM_ID IN (SELECT EXAM_ID FROM t_capability_exam WHERE CAPABILITY_ID = #{capabilityId})
        AND NOW() &lt; e.START_TIME
        AND p.PROJECT_ID = #{projectId}
        AND b.BU_ID = #{buId}
        AND e.EXAM_ID NOT IN (SELECT EXAM_ID FROM t_personal_exam WHERE EMPLOYEE_ID = #{employeeId});
	</select>
	
	<select id="queryExamByName" parameterType="String" resultMap="examMap">
	    select * from t_exam where NAME = #{name} ORDER BY START_TIME DESC;
	</select>
	
	<select id="queryExamName" resultMap="examMap">
	    select DISTINCT NAME as name from t_exam ORDER BY NAME ASC;
	</select>
	
	<insert id="addExam" parameterType="com.spidernet.dashboard.entity.Exam">
	    insert into t_exam (EXAM_ID,BU_ID,PROJECT_ID,NAME,START_TIME,END_TIME,DESCRIPTION,EXAM_TIME,<!-- VALID_PERIOD, -->STATUS,KNOWLEDGE_LIST)
	    values
	    (#{examId},#{buId},#{projectId},#{name},#{startTime},#{endTime},#{description},#{examTime},<!-- #{validPeriod}, -->#{status},#{knowledgeList})
	</insert>
	
	<select id="queryExamById" parameterType="String" resultType="com.spidernet.dashboard.entity.Exam">
	    select * from t_exam WHERE EXAM_ID = #{examId}
	</select>
	

</mapper>