<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.PersonalTrainningMapper">
	<resultMap id="personalTrainningMap"
		type="com.spidernet.dashboard.entity.PersonalTrainning">
		<id property="personalTrainningId" column="PERSONAL_TRAINING_ID"
			javaType="String" />
		<result property="trainningId" column="TRAINNING_ID" javaType="String" />
		<result property="employeeId" column="EMPLOYEE_ID" javaType="String" />
		<result property="status" column="STATUS" javaType="String" />
	</resultMap>

	<insert id="addPersonalTrainning" parameterType="java.util.List">
		insert into t_personal_training
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.personalTrainningId,jdbcType=VARCHAR}, #{item.trainningId,jdbcType=INTEGER},#{item.employeeId,jdbcType=LONGVARCHAR},#{item.status,jdbcType=LONGVARCHAR})
		</foreach>
	</insert>
</mapper>