<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.PersonalTrainningMapper">
	<resultMap id="personalTrainningMap"
		type="com.spidernet.dashboard.entity.PersonalTrainning">
		<id property="trainningId" column="TRAINNING_ID" javaType="String" />
		<result property="employeeId" column="EMPLOYEE_ID" javaType="String" />
		<result property="status" column="STATUS" javaType="String" />
	</resultMap>

	<insert id="addPersonalTrainning" parameterType="java.util.List">
		insert into t_personal_training
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.trainningId,jdbcType=VARCHAR},#{item.employeeId,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<select id="checkPersonalTrainningExists" parameterType="com.spidernet.dashboard.entity.PersonalTrainning" resultType="int">
	    select count(0) from t_personal_training where TRAINING_ID = #{trainningId} and EMPLOYEE_ID = #{employeeId}
	</select>
</mapper>