<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.ProCapabilityMapper">
	<resultMap id="proCapability" type="com.spidernet.dashboard.entity.ProCapability">
		<id property="proCapabilityId" column="PRO_CAPABILITY_ID" javaType="String" />
		<result property="blockId" column="BLOCK_ID" javaType="String" />
		<result property="buId" column="BU_ID" javaType="String" />
		<result property="projectId" column="PROJECT_ID" javaType="String" />
		<result property="empLevelId" column="EMP_LEVEL_ID" javaType="String" />
		<result property="name" column="NAME" javaType="String" />
		<result property="description" column="DESCRIPTION" javaType="String" />
		<result property="sort" column="SORT" javaType="Int" />
		<result property="url" column="URL" javaType="String" />
		<result property="empTypeId" column="EMP_TYPE_ID" javaType="String" />
		<result property="trainingStatus" column="TRAINNING_STATUS" javaType="String" />
	</resultMap>
	<sql id="Base_Column_List">
		PRO_CAPABILITY_ID AS proCapabilityId, BLOCK_ID AS blockId,
		BU_ID AS buId, PROJECT_ID AS projectId, EMP_LEVEL_ID AS empLevelId,
		NAME AS name, DESCRIPTION AS
		description, SORT AS sort, URL AS url,
		EMP_TYPE_ID AS empTypeId,TRAINNING_STATUS AS trainingStatus
	</sql>
	<select id="viewProCapability" parameterType="com.spidernet.dashboard.entity.ProCapability"
		resultType="com.spidernet.dashboard.entity.ProCapability">

		select
		<include refid="Base_Column_List" />
		from t_pro_capability_map where BLOCK_ID = #{blockId} and BU_ID =
		#{buId} and PROJECT_ID = #{projectId} and EMP_LEVEL_ID = #{empLevelId}
		and EMP_TYPE_ID = #{empTypeId}
		order by sort
	</select>

	<select id="fetchProCapabilityByCapabilityId" parameterType="String"
		resultType="com.spidernet.dashboard.entity.ProCapability">

		select
		<include refid="Base_Column_List" />
		from t_pro_capability_map where PRO_CAPABILITY_ID = #{capabilityId}
	</select>

	<update id="updateProCapability" parameterType="com.spidernet.dashboard.entity.ProCapability">
		update t_pro_capability_map SET
		BLOCK_ID = #{blockId}, BU_ID = #{buId}, PROJECT_ID = #{projectId}, EMP_LEVEL_ID = #{empLevelId},
		NAME = #{name}, DESCRIPTION = #{description}, SORT = #{sort},
		URL = #{url}, EMP_TYPE_ID = #{empTypeId}, TRAINNING_STATUS = #{trainingStatus}
		where PRO_CAPABILITY_ID=#{proCapabilityId}
	</update>
</mapper>