<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.TrainningMapper">
	<resultMap id="trainningMap" type="com.spidernet.dashboard.entity.Trainning">
		<id property="trainningId" column="TRAINING_ID" javaType="String" />
		<result property="courseName" column="COURSE_NAME" javaType="String" />
		<result property="time" column="TIME" javaType="String" />
		<result property="location" column="LOCATION" javaType="String" />
		<result property="teacher" column="TEACHER" javaType="String" />
		<result property="url" column="URL" javaType="String" />
		<result property="knowledgePoint" column="KNOWLEDGE_POINT" javaType="String" />
		<result property="SubTopic" column="SUB_TOPIC" javaType="String" />
		<result property="status" column="STATUS" javaType="String" />
	</resultMap>

	<select id="fetchAllTrainning" resultMap="trainningMap">
		select TRAINING_ID, COURSE_NAME, DATE_FORMAT(TIME,'%Y-%m-%d %H:%i') as time, LOCATION, TEACHER, URL, KNOWLEDGE_POINT,SUB_TOPIC,STATUS
		from t_training where NOW() &lt; date_sub(TIME,interval 1 day) AND TRAINING_ID in (select TRAINING_ID FROM
		t_capability_training where CAPABILITY_ID =
		#{capabilityId}) AND TRAINING_ID NOT IN (select TRAINING_ID FROM t_personal_training WHERE EMPLOYEE_ID = #{employeeId});
	</select>
	
	<insert id="addTraining" parameterType="com.spidernet.dashboard.entity.Trainning">
	    insert into t_training (TRAINING_ID,COURSE_NAME,TIME,LOCATION,TEACHER,URL,KNOWLEDGE_POINT,SUB_TOPIC,STATUS)
	    values
	    (#{trainningId},#{courseName},#{time},#{location},#{teacher},#{url},#{knowledgePoint},#{SubTopic},#{status})
	</insert>
	
	<select id="queryTrainingInfo" parameterType="com.spidernet.dashboard.entity.TrainningPageCondition"
		resultMap="trainningMap">
	    select * FROM t_training where 1 = 1 and status = '0'
	    <if test="trainningName != null and trainningName != ''">
				AND COURSE_NAME like CONCAT('%',#{trainningName},'%')
		</if>
		ORDER BY TIME ASC
		LIMIT #{currentPage},10;
	</select>
	
	<select id="countTrainingPage" parameterType="com.spidernet.dashboard.entity.TrainningPageCondition"
		resultType="int">
	    select count(0) FROM t_training where 1 = 1
	    <if test="trainningName != null and trainningName != ''">
				AND COURSE_NAME like CONCAT('%',#{trainningName},'%')
		</if>
		ORDER BY TIME ASC
		LIMIT #{currentPage},10;
	</select>
	
	<select id="queryTrainingByName" parameterType="String" resultMap="trainningMap">
	    select * FROM t_training WHERE COURSE_NAME = #{trainingName} ORDER BY TIME DESC
	</select>
	
	<select id="queryTrainingName" resultMap="trainningMap">
	    SELECT DISTINCT COURSE_NAME as courseName FROM t_training ORDER BY COURSE_NAME ASC
	</select>
	
	<select id="queryTrainingById" parameterType="String" resultType="com.spidernet.dashboard.entity.Trainning">
	    SELECT TRAINING_ID as trainningId,COURSE_NAME as courseName,TIME as time,LOCATION as location,TEACHER as teacher,URL as url,KNOWLEDGE_POINT as knowledgePoint,SUB_TOPIC as SubTopic,STATUS as status FROM t_training WHERE TRAINING_ID = #{trainningId}
	</select>
	
	<select id="queryPersonTrainingNames" parameterType="com.spidernet.dashboard.entity.EmpPageCondition" resultType="String">
	    select group_concat(a.course_name) as training_name 
	    from t_employee b 
	    left join (select a.employee_id, a.training_id, b.course_name ,a.status from t_personal_training a, t_training b where b.training_id = a.training_id) a  
	    on a.employee_id=b.employee_id 
	    left join t_bu c 
	    on c.bu_id=b.bu_id 
	    left join t_project d 
	    on d.project_id=b.project_id 
	    WHERE 1 = 1 and a.status = 0 

		<if test="buId != null and buId != ''">
			AND c.BU_ID = #{buId}
		</if>
		<if test="projectId != null and projectId != ''">
			AND d.PROJECT_ID = #{projectId}
		</if>
		<if test="trainingId != null and trainingId != ''">
			AND a.TRAINING_ID = #{trainingId}
		</if>
		<if test="er != null and er != ''">
			AND e.ER_NUMBER = #{er}
		</if>
	    
	    group by b.employee_id
	    LIMIT #{currentPage},10;
	</select>

	<update id="updateTraining"  parameterType="com.spidernet.dashboard.entity.Trainning">
		UPDATE t_training
		set
		COURSE_NAME=#{courseName},
		TIME=#{time},
		LOCATION=#{location},
		TEACHER=#{teacher},
		URL=#{url},
		KNOWLEDGE_POINT=#{knowledgePoint}
		WHERE TRAINING_ID = #{trainningId}
	</update>

	<update id="deleteTrainingById" parameterType="String" >
			UPDATE T_TRAINING
			set
			  STATUS = '1'

			WHERE TRAINING_ID = #{trainningId} and STATUS = '0' 
	
	</update>
	
	<select id="queryKnowedgePointEntity" parameterType="String" resultType="String">
	
		select point_title from t_knowledge_point 
		where knowledge_point_id = #{pointId} and status = '0'
		
	</select>

</mapper>