<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spidernet.dashboard.dao.EmployeeMapper">
	<resultMap id="userMap" type="com.spidernet.dashboard.entity.Employee">
		<id property="employeeId" column="EMPLOYEE_ID" javaType="String" />
		<result property="buId" column="BU_ID" javaType="String" />
		<result property="projectId" column="PROJECT_ID" javaType="String" />
		<result property="empTypeId" column="EMP_TYPE_ID" javaType="String" />
		<result property="empLevelId" column="EMP_LEVEL_ID" javaType="String" />
		<result property="erNumber" column="ER_NUMBER" javaType="String" />
		<result property="hrNumber" column="HR_NUMBER" javaType="String" />
		<result property="name" column="NAME" javaType="String" />
		<result property="eName" column="ENAME" javaType="String" />
		<result property="password" column="PASSWORD" javaType="String" />
		<result property="wechatOpenId" column="WECHAT_OPEN_ID"
			javaType="String" />
	</resultMap>
	<sql id="Base_Column_List">
		EMPLOYEE_ID AS employeeId, BU_ID AS buId, PROJECT_ID AS
		projectId, EMP_TYPE_ID AS empTypeId, EMP_LEVEL_ID AS empLevelId,
		ER_NUMBER AS erNumber, HR_NUMBER AS hrNumber, NAME, ENAME AS eName, PASSWORD,
		WECHAT_OPEN_ID AS wechatOpenId
	</sql>
	<select id="accountValid" parameterType="com.spidernet.dashboard.entity.Employee"
		resultType="int">

		select count(0) from t_employee where
		password=#{password}
		<choose>
			<when test="erNumber != null and erNumber != ''">
				AND ER_NUMBER = #{erNumber}
			</when>
			<when test="hrNumber != null and hrNumber != ''">
				AND HR_NUMBER = #{hrNumber}
			</when>
			<when test="wechatOpenId != null and wechatOpenId != ''">
				AND WECHAT_OPEN_ID = #{wechatOpenId}
			</when>
		</choose>
	</select>

	<select id="accountValidByErNumber" parameterType="com.spidernet.dashboard.entity.Employee"
		resultType="com.spidernet.dashboard.entity.Employee">
		select
		<include refid="Base_Column_List" />
		from t_employee where ER_NUMBER = #{erNumber} and PASSWORD=#{password}
	</select>

	<select id="accountValidByHrNumber" parameterType="com.spidernet.dashboard.entity.Employee"
		resultType="com.spidernet.dashboard.entity.Employee">
		select
		<include refid="Base_Column_List" />
		from t_employee where HR_NUMBER = #{hrNumber} and PASSWORD=#{password}
	</select>

	<select id="fetchByErNumber" parameterType="String"
		resultType="com.spidernet.dashboard.entity.Employee">
		select
		<include refid="Base_Column_List" />
		from t_employee where ER_NUMBER = #{erNumber}
	</select>

	<select id="fetchByHrNumber" parameterType="String"
		resultType="com.spidernet.dashboard.entity.Employee">
		select
		<include refid="Base_Column_List" />
		from t_employee where HR_NUMBER = #{hrNumber}
	</select>

	<insert id="addEmployee" parameterType="com.spidernet.dashboard.entity.Employee">
		insert into t_employee (EMPLOYEE_ID,BU_ID,PROJECT_ID,EMP_TYPE_ID,EMP_LEVEL_ID,ER_NUMBER,HR_NUMBER,NAME,ENAME,PASSWORD,WECHAT_OPEN_ID)
		values
		(#{employeeId},#{buId},#{projectId},#{empTypeId},#{empLevelId},#{erNumber},#{hrNumber},#{name},#{eName},'123456','')
	</insert>
	
	<select id="checkErExists" parameterType="String" resultType="int">
	    select count(0) from t_employee where ER_NUMBER = #{erNumber}
	</select>
	
	<select id="checkHrExists" parameterType="String" resultType="int">
	    select count(0) from t_employee where HR_NUMBER = #{hrNumber}
	</select>
</mapper>